<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,800&family=Playfair+Display:wght@800&family=Roboto+Slab:wght@800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="index.css">
    <title>Login</title>
</head>
<body>
    <div class="cont">
        <div class="form">
            <h2>Login</h2>
<form action="doLogin" method="POST">
            <label for="">
                <span>Username</span>
                <input class="text" type="text" name="txtName" placeholder="Email">
            </label>
            <label for="">
                <span>Password</span>
                <input class="text" type="password" name="txtPassword" placeholder="Password">
            </label>
            <button class="submit" type="button">Log In</button>
            <a href=""><p class="forgot-pass">Forgot Password?</p></a>
</form>
        </div>    
    </div>
</body>
</html>