<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="https://i.pinimg.com/originals/bf/e7/b2/bfe7b2008671ba5e95578d7fe33fc8a9.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="title">Insert Toy</h1>
        <div class="box-input">
            <form action="doInsert" method="POST">
                Name:
                <input class="text1" type="text" name="txtName" placeholder="">
                <br><br>
                Material:
                <input class="text2" type="text" name="txtMaterial" placeholder="" >
                <br><br>
                Price:
                <input class="text3" type="text" name="txtPrice" placeholder="">
                <br><br>
                Producer:
                <textarea class="text4" name="txtProducer" cols="36" rows="10" placeholder=""></textarea>
                <br><br>
                <input class="submit" type="submit" value="Insert Toy" >
                <br><br>
            </form>
        </div>
    </div>
</body>

</html>